{% load static tailwind_tags %}
{% include "navigation.html" %}
{% tailwind_css %}

<!DOCTYPE html>

<head>
  <link rel="icon" type="image/png" href="static/logo1.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>Fruteria Eli Home</title>
</head>

<style>

</style>

<body class="bg-red-600">
  <div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
    <img src="https://images.unsplash.com/photo-1734076458312-a4e9a27cb840?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
    <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Fruteria Eli</h2>
        <p class="mt-6 text-lg leading-8 text-gray-300">Del campo a tu mesa, frescura garantizada.</p>
      </div>
      <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10">
          <a href="/puppies">Productores<span aria-hidden="true">&rarr;</span></a>
          <a href="/contact"> Quien Somos<span aria-hidden="true">&rarr;</span></a>
          
        </div>
      </div>
    </div>
  </div>

<br>
<section class="bg-gray-100 py-10">
  <div class="container mx-auto px-2">
    <h2 class="text-3xl font-bold mb-6">Especiales Locales</h2>

    <div class="flex flex-wrap -mx-4">
      {% for row in uPost %}
      {% if forloop.counter <= 4 %}
      <div class="w-full md:w-1/4 p-4">
        <div class="card rounded-lg relative">
          <div class="front">
            {% if row.itemPhoto.url %}
            <img class="w-full h-100 object-cover rounded-lg" src="{{ row.itemPhoto.url }}">
            {% endif %}
          </div>
          <div class="bg-white border-gray-200 absolute bottom-0 left-0 w-full">
            <div class="card-content p-4">
              <h2 class="text-black text-lg font-semibold text-center">{{ row.description }}</h2>
              <p class="text-black text-center">$ {{ row.category }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<br>

<section class="bg-gray-100 py-10">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold mb-6">Servicio a Domicillio</h2>
    
    <div class="grid grid-cols-2 gap-8">
      <div class="bg-white rounded-lg p-6">
        <h3 class="text-lg font-semibold mb-2"> Selección de productos frescos</h3>
        <p class="text-gray-700 leading-relaxed">
         Elegimos diariamente frutas y verduras de la más alta calidad directamente del campo y proveedores locales.
        </p>
      </div>
      
      <div class="bg-white rounded-lg p-6">
        <h3 class="text-lg font-semibold mb-2">Preparación y empaque</h3>
        <p class="text-gray-700 leading-relaxed">
          
          Clasificamos y empaquetamos cuidadosamente cada pedido para asegurar frescura y presentación impecable.        </p>
      </div>
      
      <div class="bg-white rounded-lg p-6">
        <h3 class="text-lg font-semibold mb-2">Entrega puntual</h3>
        <p class="text-gray-700 leading-relaxed">
          Nuestro equipo logístico organiza las rutas y realiza entregas rápidas y seguras directamente a tu negocio.        </p>
      </div>
      
      <div class="bg-white rounded-lg p-6">
        <h3 class="text-lg font-semibold mb-2">Atención y seguimiento</h3>
        <p class="text-gray-700 leading-relaxed">
          
          Confirmamos la satisfacción de cada cliente y ajustamos futuros pedidos según tus necesidades específicas.        </p>
      </div>
    </div>
    
  </div>
</section>

</body>


{% include "footer.html" %}