{% load tailwind_tags %}
{% tailwind_css %}
{% load static %}
{% include "navigation.html" %} 


<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<html>

  <body class="bg-sky-50">
<div class="container mx-auto px-20" style="margin-left: 180px;padding-right: 0px;">
        <div class="min-w-full border rounded lg:grid lg:grid-cols-3">
          <div class="border-r border-gray-300 lg:col-span-1">
            <div class="mx-3 my-3">
              <div class="relative text-gray-600">
                <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" <path="" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z">
                  </svg>
                </span>
              </div>
            </div>
              <ul class="overflow-auto h-[32rem]">
              <h2 class="my-2 mb-2 ml-2 text-lg text-gray-600">Chats</h2>
              
             {% for row in messages %}
              <li>
                <a onclick="showmessage()" class="flex items-center px-3 py-2 text-sm transition duration-150 ease-in-out border-b border-gray-300 cursor-pointer hover:bg-gray-100 focus:outline-none">
                  <img class="object-cover w-10 h-10 rounded-full" src="{{ row.user_post.itemPhoto.url }}" alt="username">
                  <div class="w-full pb-2">
                    <div class="flex justify-between">
                      <span class="block ml-2 font-semibold text-gray-600">{{row.sender}}</span>
                      {% if row.is_read %}
                        <img src="{% static 'readr.png' %}" alt="myPic" width="15">
                      {% endif %}
                    </div>
                    <span class="block ml-2 text-sm text-gray-600">{{row.body}}</span>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>

          <div class="hidden lg:col-span-2 lg:block">
            <div class="w-full">
              <div class="relative flex items-center p-3 border-b border-gray-300">
                <img class="object-cover w-10 h-10 rounded-full" src="{{ messages.0.user_post.itemPhoto.url }}" alt="username">
                <span class="block ml-2 font-bold text-gray-600">{{ messages.0.sender }}</span>
              </div>
              <div class="relative w-full p-6 overflow-y-auto h-[40rem]">
                <ul class="space-y-2">
                  <li class="flex justify-start">
                    <div class="relative max-w-xl px-4 py-2 text-gray-700 rounded shadow">
                      <span class="block">{{ messages.0.body }}</span>
                    </div>
                    
                  </li>
                </ul>
              </div>


              <div class="flex items-center justify-between w-full p-3 border-t border-gray-300">
                <input type="text" placeholder="Message" class="block w-full py-2 pl-4 mx-3 bg-gray-100 rounded-full outline-none focus:text-gray-700" name="message" required="">
                <button type="submit">
                  <svg class="w-5 h-5 text-gray-500 origin-center transform rotate-90" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
                  </svg>
                </button>
              </div>


            </div>
          </div>
            </div>
          </div>
        </div>
    </div>
  </body>
  </html>

<script>
  function showmessage() {
  
    const messageSender = event.target.closest('li').querySelector('.font-semibold').textContent;
    const messagePhoto = event.target.closest('li').querySelector('img').getAttribute('src');
    const messageBody = event.target.closest('li').querySelector('.text-gray-600:not(.font-semibold)').textContent;
    const messageDiv = document.createElement('div');
    messageDiv.classList.add('relative', 'max-w-xl', 'px-4', 'py-2', 'text-gray-700', 'rounded', 'shadow');
    messageDiv.innerHTML = `
      <span class="block">${messageBody}</span>
    `;
  
    const chatDiv = document.querySelector('.lg\\:col-span-2');
    chatDiv.querySelector('img').setAttribute('src', messagePhoto);
    chatDiv.querySelector('.font-bold').textContent = messageSender;
    chatDiv.querySelector('.overflow-y-auto').innerHTML = '';
    chatDiv.querySelector('.overflow-y-auto').appendChild(messageDiv);
  }
</script>


