{% load static tailwind_tags %}
{% include "navigation.html" %}
{% tailwind_css %}

<!DOCTYPE html>

<head>
  <link rel="icon" type="image/png" href="/static/logo1.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>Countryside Rescue: Contact Us</title>
</head>


<html>
		  <center>
		
      <body class="bg-sky-50">

        <section class="bg-gray-100 py-10">
          <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold mb-6">Contact Us</h2>
            
            <div class="grid grid-cols-2 gap-8">
              <div class="bg-white rounded-lg p-6">
                <h3 class="text-lg font-semibold mb-2">Phone: (559) 920-0839</h3>
                <p class="text-gray-700 leading-relaxed">
                  We're available by phone during our store hours from 8am to 7pm. If you reach our voicemail, please leave a message, and we'll get back to you as soon as possible.
                </p>
              </div>
              
              <div class="bg-white rounded-lg p-6">
                <h3 class="text-lg font-semibold mb-2">Email: country.side.rescue.grooming@gmail.com</h3>
                <p class="text-gray-700 leading-relaxed">
                  Send us an email, and we'll respond promptly to your inquiries and messages.
                </p>
              </div>
              
              <div class="bg-white rounded-lg p-6">
                <h3 class="text-lg font-semibold mb-2">Social Media</h3>
                <p class="text-gray-700 leading-relaxed">
                  Stay connected with us and follow our journey on social media. We love engaging with our community!
                </p>
              </div>
            
              <div class="bg-white rounded-lg p-6">
                <h3 class="text-lg font-semibold mb-2">Donate</h3>
                <p class="text-gray-700 leading-relaxed">
                  Your generous donations make a significant impact on our rescue efforts. We greatly appreciate your support!
<br>
                  <b>Zelle:</b> country.side.rescue.grooming@gmail.com 
                  <br>
                  <b>Venmo:</b> Countryside_Dog_rescue
                </p>
              </div>
            </div>
            
              
            </div>
            
          </div>
        </section>
{% include "footer.html" %}
      </body>

 




</html>

