<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
    <div class="mx-auto max-w-screen-xl text-center">
      <a  class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
        Follow Us on Social Media
      </a>
      <br>
  
      <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
        <li>
          <a href="https://www.instagram.com/countryside_dog_rescue/?igshid=OGIzYTJhMTRmYQ%3D%3D" class="mr-4 hover:underline md:mr-6">
            <i class="fab fa-instagram"></i> Instagram
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/profile.php?id=100088233231758" class="mr-4 hover:underline md:mr-6">
            <i class="fab fa-facebook"></i> Facebook
          </a>
        </li>
      </ul>
    </div>
  </footer>